# Base SQLite
db.sqlite3

# Python cache   ignore tous les fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/         #ignore environnement virtuel ne pas le mettre n'aurai rien changé au code parce git est initialiser dans mediatheque et mediatheque est au meme niveau que l'env
venv/
ENV/
.venv/


# IDE         ignore les fichiers générés automatiquement.
.vscode/
.idea/

# Django specific  ignore les fichiers générés automatiquement
*.log
staticfiles/
media/