<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des médias</title>
</head>
<body>
<h1>Liste des médias</h1>
<h2>Vos emprunts</h2>
{% if membre and emprunts %}
    {% for emprunt in emprunts %}
        <p>{{ emprunt.media.titre }} -
        {% if not emprunt.rendu %}
            <a href="{% url 'public:retourner_media' emprunt.id %}">Retourner</a>
        {% else %}
            ✅ Rendu
        {% endif %}
        </p>
    {% endfor %}
{% else %}
    <p>Vous n'avez pas d'emprunts pour le moment.</p>
{% endif %}
<ul>
  {% for media in medias %}
    <li>
      <a href="{% url 'public:detail_medias' media.pk %}">
        {{ media.titre }}
      </a>
        {% if media.type_media != "jeu" and media.disponible %}
        <!-- Lien vers le formulaire d'emprunt -->
        <a href="{% url 'public:emprunter_media' media.pk %}"></a>
         {% endif %}
    </li>
    {% empty %}
     <li>Aucun média disponible</li>
  {% endfor %}
</ul>

</body>
</html>